.game-settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    & .game-settings__title {
        font-size: 1.4rem;
    }

    & #generations {
        padding: 0.5rem;
        border-radius: var(--b-radius);
        border: none;
    }

    & .start-game {
        &:disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }

    & .select-placeholder {
        height: 38px;
        background-color: gray;
        border-radius: var(--b-radius);
    }
}
