.game-backdrop {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 60vh;
        top: 0;
        left: 0;
        z-index: -1;

        background-size: contain;
        background-position: 0;
        background-repeat: repeat-x;
        background-image: url("/pokemonSprites_horizontalTile.png");
        filter: blur(5px) saturate(0.3);
    }
}

.game-display-wrapper {
    width: var(--max-width);

    & .game-display {
        display: flex;
        align-items: center;
        width: 100%;
        background-image: url("/pokemonGuesser_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        filter: none;
        transition: filter 1s ease-in;
        box-shadow: 0 0 30px 20px var(--primary-shadow);
        height: 50vh;
        position: relative;

        &.grayscale {
            filter: grayscale(1);
        }

        & .game-display__image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 450px;
            height: 650px;
            position: relative;

            & .game-display__glow-image {
                min-width: 650px;
                min-height: 650px;
                position: absolute;
                top: 50%;
                left: -100px;
                transform: translate(0, -50%);
                aspect-ratio: 1 / 1;
            }

            & .game-display__loading,
            & .game-display__pokemon-image,
            & .game-display__error {
                color: var(--poke-dark);
                font-weight: bold;
                position: relative;
                z-index: 2;
            }

            & .game-display__error {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                & .retry-btn {
                    background-color: var(--poke-dark);
                    color: var(--poke-light);
                }
            }

            & .game-display__pokemon-image {
                filter: brightness(0);
                object-fit: contain;

                &.revealed {
                    filter: brightness(1);
                    transition: all 1s ease-in;
                }
            }

            & .game-display__incorrect {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                color: var(--poke-red);
                transform: translate(-50%, -50%);
                filter: drop-shadow(0 0 8px var(--poke-red));
                z-index: 3;
                pointer-events: none;
                opacity: 0.9;
            }
        }

        & .game-display__answer {
            font-family: var(--poke-font), Arial, Helvetica, sans-serif;
            font-size: 4rem;
            text-transform: uppercase;
            margin: 0 auto;
            padding-right: 1rem;
            right: 1rem;
            filter: drop-shadow(2px 2px 0px black);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1), -2px -2px 0px rgba(0, 0, 0, 1),
                2px -2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
            color: var(--poke-yellow);
            text-align: center;

            & .question-mark {
                font-size: 12rem;
            }
        }

        & .game-display__lives {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}

@media (max-width: 1000px) {
    & .game-display-wrapper {
        width: 100%;

        & .game-display {
            flex-direction: column;
            height: fit-content;

            & .game-display__image-wrapper {
                width: 100%;
                max-height: 40vh;

                & .game-display__glow-image {
                    min-width: 500px;
                    min-height: 500px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                & .game-display__pokemon-image {
                    max-height: 100%;
                }
            }

            & .game-display__answer {
                padding: 0 0 1rem 0;

                & .question-mark {
                    font-size: inherit;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    & .game-display-wrapper {
        & .game-display {
            & .game-display__image-wrapper {
                & .game-display__pokemon-image {
                    max-width: 70vw;
                }

                & .game-display__error {
                    max-width: 65vw;
                    text-align: center;
                    text-wrap: balance;
                }

                & .game-display__incorrect {
                    width: 200px;
                }
            }

            & .game-display__answer {
                font-size: 2rem;
            }

            & .game-display__lives {
                top: 5px;
                right: 5px;
            }
        }
    }
}

@media (max-width: 400px) {
    & .game-display-wrapper {
        & .game-display {
            & .game-display__image-wrapper {
                max-height: 30vh;

                & .game-display__glow-image {
                    min-width: 400px;
                    min-height: 400px;
                    height: 400px;
                    width: 400px;
                }

                & .game-display__loading {
                    & .game-display__pokeball {
                        scale: 1.2;
                    }
                }

                & .game-display__incorrect {
                    width: 150px;
                }
            }

            & .game-display__answer {
                font-size: 2rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}
