.game-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 100px;

    & .next-btn {
        font-size: 1.5rem;
        border-radius: 50px;
        padding: 0.6rem 1.2rem;
    }
}
