.game-lives {
    list-style: none;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: var(--b-radius);
    background-color: var(--poke-dark);
    box-shadow: 0 0 0 2px var(--poke-light);

    & .game-lives__life {
        width: 30px;
        height: 30px;
        background-color: var(--poke-red);
        mask-image: url("/heart-icon.svg");
        mask-repeat: no-repeat;
        mask-size: contain;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &.lost {
            background-color: gray;
            animation-name: blink;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
        }
    }
}

@media (max-width: 600px) {
    & .game-lives {
        flex-direction: column;

        & .game-lives__life {
            width: 20px;
            height: 20px;
        }
    }
}

@keyframes blink {
    0% {
        background-color: gray;
    }
    25% {
        background-color: var(--poke-red);
    }
    50% {
        background-color: gray;
    }
    75% {
        background-color: var(--poke-red);
    }
    100% {
        background-color: gray;
    }
}
