.score-progress {
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    & .score-progess__generation {
        text-transform: uppercase;
    }

    & .score-progress__count {
        width: fit-content;
        margin-left: auto;
        font-weight: bold;
    }

    & .score-progress__bar-container {
        border-radius: 30px;
        background-color: rgba(128, 128, 128, 0.5);
        height: 15px;
        overflow: hidden;

        & .score-progress__bar {
            background-color: #ee2424;
            height: 100%;
        }
    }
}

@media (max-width: 600px) {
    & .score-progress {
        & .score-progress__bar-container {
            height: 10px;
        }
    }
}
