.error-page {
    display: grid;
    grid-template-areas: "error img";
    align-items: center;
    position: relative;
    padding-top: 4rem;

    & .pikachu {
        grid-area: img;
        justify-self: flex-end;
    }

    & .wrapper {
        grid-area: error;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & .error-page__title {
            font-size: 8rem;
            background-image: repeating-linear-gradient(
                -45deg,
                rgba(80, 0, 0, 0.2),
                rgba(80, 0, 0, 0.2) 30px,
                rgba(255, 0, 0, 0.2) 30px,
                rgba(255, 0, 0, 0.2) 60px
            );
            padding-inline: 1rem;
        }

        & .error-page__subtitle {
            color: gray;
            font-weight: 400;
            text-wrap: balance;
            text-align: center;
        }

        & .error-page__btn-wrapper {
            display: flex;
            gap: 1rem;
        }
    }
}

@media (max-width: 1200px) {
    & .error-page {
        & .pikachu {
            width: 400px;
            height: auto;
        }
        & .wrapper {
            & .error-page__title {
                font-size: 6rem;
            }
        }
    }
}

@media (max-width: 800px) {
    & .error-page {
        grid-template-areas:
            "error"
            "img";
        gap: 2rem;

        & .pikachu {
            width: 300px;
            justify-self: center;
        }
    }
}

@media (max-width: 400px) {
    & .error-page {
        & .pikachu {
            width: 200px;
        }
        & .wrapper {
            & .error-page__title {
                font-size: 4rem;
            }
        }
    }
}
