#filter-generations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-inline: auto;

    & input[type="radio"]:checked + .filter-generations__label {
        background-color: var(--poke-light);
        color: var(--poke-red);
    }

    & .filter-generations__label {
        background-color: var(--faded-gray);
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        padding: 0.5rem 1rem;

        &:hover {
            filter: brightness(0.9);
        }
    }
}
