.navbar {
    background-color: var(--poke-red);
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: var(--poke-light);

    & .nav-links {
        width: 100%;
        max-width: var(--max-width);
        display: flex;

        & .logo-link {
            margin-right: auto;
            padding: 1rem;

            &:hover {
                background-color: inherit;
                color: inherit;
                filter: brightness(1);
            }
        }

        & .nav-links__link {
            padding: 1rem;
            position: relative;

            &.active-link {
                box-shadow: inset 0 -4px 0 0 var(--poke-light);
            }

            &:hover {
                background-color: hsl(from var(--poke-red) h s calc(l - 5));
            }
        }
    }
}