.navbar {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: var(--poke-light);
    padding: 10px 20px;

    position: fixed;
    z-index: 9;
    width: 100%;
    transition: background-color 0.3s ease-in-out;

    &.show-bg {
        background-color: var(--nav-bg);
    }

    &.fade-bg {
        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            visibility: hidden;
            opacity: 0;
            transform: translateX(-16px);
        }
    }

    & .nav-links {
        width: 100%;
        max-width: var(--max-width);
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        z-index: 99;

        & .logo-link {
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 40px;
                height: 40px;
            }

            &:hover {
                background-color: inherit;
                color: inherit;
                filter: brightness(1);
            }
        }

        & .menu-wrapper {
            display: none;
        }

        & .nav-links__wrapper {
            display: flex;

            & .nav-links__link {
                padding: 6px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                color: var(--poke-light);

                &.active-link {
                    color: var(--poke-red);
                    background-color: var(--poke-light);
                }

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
}

@media (max-width: 800px) {
    & .navbar {
        --duration-fade: 0.3s;
        --timing-fade: ease-out;

        &.fade-bg::before {
            transition-duration: var(--duration-fade);
            transition-timing-function: var(--timing-fade);
            transition-property: opacity, transform;
            background-color: var(--background);
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            height: 100vh;
        }

        & .nav-links {
            & .menu-wrapper {
                display: flex;
                padding: 4px 0 4px 4px;

                & .nav-menu-btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;

                    & .bar {
                        width: 100%;
                        height: 3px;
                        background-color: white;
                        border-radius: 20px;
                        margin-block: 2px;
                        transition-duration: 0.3s;
                        transition-property: opacity, transform;
                        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

                        &:nth-child(1) {
                            transform-origin: bottom right;
                        }

                        &:nth-child(2) {
                            opacity: 1;
                            transform: scale(1);
                        }

                        &:nth-child(3) {
                            transform-origin: top right;
                        }

                        &.open {
                            &:nth-child(1) {
                                transform: rotate(-45deg) translateY(-3px);
                            }

                            &:nth-child(2) {
                                opacity: 0;
                                transform: scale(0);
                            }

                            &:nth-child(3) {
                                transform: rotate(45deg) translateY(3px);
                            }
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            & .nav-links__wrapper {
                flex-direction: column;
                gap: 8px;
                position: fixed;
                z-index: 100;
                top: 60px;
                right: 0;
                background-color: var(--poke-dark);
                padding: 1rem;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transform: translateX(-16px);
                border-radius: 20px;
                width: 100%;
                height: 100%;

                transition-property: opacity, transform;
                transition-duration: var(--duration-fade);
                transition-timing-function: var(--timing-fade);

                &.show {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    transform: translateX(0);
                }

                & .nav-links__link {
                    padding: 12px 1rem;
                    border-radius: 40px;
                }
            }
        }
    }
}
