.navbar {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: var(--poke-light);
    padding-block: 10px;

    & .nav-links {
        width: 100%;
        max-width: var(--max-width);
        display: flex;
        align-items: center;
        gap: 8px;

        & .logo-link {
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: inherit;
                color: inherit;
                filter: brightness(1);
            }
        }

        & .nav-links__link {
            padding: 6px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            color: var(--poke-light);
            
            &.active-link {
                color: var(--poke-red);
                background-color: var(--poke-light);
            }

            &:hover {
                filter: brightness(0.9);
            }
        }
    }
}