.pagination-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1rem;

    & .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        list-style: none;

        & .pagination__item {
            font-weight: 600;

            & .pagination__link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.4rem;
                background-color: var(--faded-gray);
                color: var(--poke-light);
                border-radius: 50%;
                min-width: 4ch;
                min-height: 4ch;

                &.active_link {
                    background-color: var(--poke-light);
                    color: var(--poke-red);
                }
            }
        }
    }

    & .current-page {
        background-color: var(--primary-shadow);
        padding: 0.2rem 0.4rem;
        border-radius: var(--b-radius);
    }
}

@media (max-width: 500px) {
    & .pagination-wrapper {
        & .pagination {
            & .pagination__item {
                &.hidden {
                    display: none;
                }
            }
        }
    }
}
