#pokedex-page {
    padding-block: 2rem;

    & .pokedex-page__title {
        text-align: center;
        margin-top: 1rem;
    }

    & .pokemon-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 8px;
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    & #pokedex-page {
        & .pokedex-page__title {
            font-size: 2rem;
        }
    }
}
