:root {
    --background: #171717;
    --foreground: #ffffff;
    --primary-shadow: rgba(0, 0, 0, 0.4);
    --faded-gray: rgba(70, 70, 70, 0.5);

    --poke-red: #ee1515;
    --poke-dark: #222224;
    --poke-light: #f0f0f0;
    --poke-yellow: #fff01f;

    --max-width: 1000px;
    --b-radius: 6px;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-image: url("/pokeball.svg"), url("/pokeball.svg");
    background-position: 0px 20px, 120px 120px;
    background-repeat: repeat;
    background-size: 80px 40px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        filter: brightness(0.9);
    }
}

img {
    height: 100%;
}

button {
    padding: 0.6rem 1rem;
    border-radius: var(--b-radius);
    border: none;
    background-color: var(--poke-red);
    color: var(--poke-light);
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--primary-shadow);
    transition: all 0.3s ease-out;

    &:hover {
        filter: brightness(0.9);
        scale: 1.05;
    }
}

#page-wrapper {
    flex: 1;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    background-color: var(--poke-dark);
    box-shadow: 10px 0 5px -2px var(--primary-shadow), -10px 0 5px -2px var(--primary-shadow);
}
