.start {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 80px;

    & .start-title {
        align-self: center;
    }

    & .instructions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        & .disclaimer {
            font-style: italic;
        }
    }
}
