.start {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 2rem;

    & .title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-block: 100px;

        & .start-logo {
            margin-bottom: 2rem;
        }

        & .start-title {
            align-self: center;
            font-size: 4rem;
        }
    }

    & .instructions {
        display: flex;
        align-items: flex-start;
        gap: 4rem;
        padding-bottom: 4rem;

        &:nth-child(odd) > .instructions__fig {
            order: -1;
        }

        & .instructions__desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            flex: 1 0 50%;

            & .disclaimer {
                font-style: italic;
            }
        }

        & .instructions__fig {
            display: flex;

            & .instructions__img {
                border-radius: var(--b-radius);
                box-shadow: 0 0 20px var(--primary-shadow);
            }
        }
    }
}

@media (max-width: 1000px) {
    & .start {
        gap: 40px;

        & .title-wrapper {
            & .start-title {
                font-size: 3.5rem;
            }
        }

        & .instructions {
            flex-direction: column;
            gap: 2rem;
            padding-bottom: 2rem;

            &:nth-child(odd) > .instructions__fig {
                order: 0;
            }
        }
    }
}
