.not-found {
    background-color: var(--poke-dark);
    border-radius: var(--b-radius);

    & .wrapper {
        width: 100%;
        padding: 3rem;
    }

    & .unown {
        &.unown-f {
            left: 0;
        }

        &.unown-qm {
            right: 5%;
        }
    }
}

@media (max-width: 900px) {
    & .not-found {
        & .wrapper {
            padding: 1rem;
        }
    }
}

@media (max-width: 600px) {
    & .not-found {
        width: 350px;
    }
}

@media (max-width: 400px) {
    & .not-found {
        width: 300px;
    }
}
