.game-backdrop {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &::after {
        position: absolute;
        content: "";
        width: 100vw;
        height: 700px;
        top: 0;
        left: 0;
        z-index: -1;

        background-size: contain;
        background-position: 0;
        background-repeat: repeat-x;
        background-image: url("/pokemonSprites_horizontalTile.png");
        filter: blur(5px) saturate(0.3);
    }
}

.game-display-wrapper {
    width: var(--max-width);

    & .game-display {
        display: flex;
        align-items: center;
        width: 100%;
        background-image: url("/pokemonGuesser_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        filter: none;
        transition: filter 1s ease-in;
        box-shadow: 0 0 30px 20px var(--primary-shadow);

        &.grayscale {
            filter: grayscale(1);
        }

        & .game-display__image-wrapper {
            display: grid;
            grid-template-rows: 1fr;
            align-items: center;
            justify-items: center;
            justify-content: center;
            grid-auto-columns: 450px 1fr;

            position: relative;
            aspect-ratio: 1 / 1;

            & .game-display__glow-image {
                grid-row: 1 / 1;
                grid-column: 1 / 1;
            }

            & .game-display__loading,
            & .game-display__pokemon-image,
            & .game-display__error {
                grid-row: 1 / 1;
                grid-column: 1 / 1;
                color: var(--poke-dark);
                font-weight: bold;
            }

            & .game-display__error {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                & .retry-btn {
                    background-color: var(--poke-dark);
                    color: var(--poke-light);
                }
            }

            & .game-display__pokemon-image {
                filter: brightness(0);
                object-fit: contain;

                &.revealed {
                    filter: brightness(1);
                    transition: all 1s ease-in;
                }
            }
        }

        & .game-display__answer {
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 auto;
            padding-right: 1rem;
            right: 1rem;
            filter: drop-shadow(2px 2px 0px black);
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 1), -2px -2px 0px rgba(0, 0, 0, 1),
                2px -2px 0px rgba(0, 0, 0, 1), -2px 2px 0px rgba(0, 0, 0, 1);
            color: var(--poke-yellow);
        }
    }
}

@media (max-width: 1000px) {
    & .game-display-wrapper {
        width: 100%;

        & .game-display {
            flex-direction: column;

            & .game-display__answer {
                padding: 0 0 1rem 0;
            }
        }
    }
}

@media (max-width: 600px) {
    & .game-display-wrapper {
        & .game-display {
            & .game-display__image-wrapper {
                grid-auto-columns: 340px 1fr;
            }

            & .game-display__answer {
                font-size: 2rem;
            }
        }
    }
}
