.guess-form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr auto;
    justify-items: center;

    & .guess-form__title {
        font-size: 1.4rem;
        grid-column: span 2;
    }
}
