.guess-loading {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    & .guess-page__title {
        text-align: center;
    }

    & .loader {
        margin-block: auto;
    }
}
